/* https://www.schemecolor.com/dying-love.php */

/* Fonts */
@font-face {
    font-family: 'Bebas Neue';
    src: url('media/fonts/BEBASNEUE-REGULAR.TTF');
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('media/fonts/LEMONMILK-Medium.otf');
}
@font-face {
    font-family: 'Glorine';
    src: url('media/fonts/Glorine.ttf');
}
@font-face {
    font-family: 'Sunflower';
    src: url('media/fonts/Sunflower.otf');
}


/* Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    z-index: 1;

    margin: 0;
    padding: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Full screen background */
.fullscreen-canvas-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(1px);
}

.fullscreen-canvas-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;

    z-index: 0; 
}

/* Navigation Bar */
.navigation-bar {
    display: flex;
    z-index: 2;

    width: 100%;
    position: sticky;
    top: 0;

    align-items: center;
    justify-content: center;
    min-height: 8vh;
    background-color: rgb(49, 49, 45);

    filter: drop-shadow(0 0 1vh rgb(245, 126, 19, 0.2));
}

.navigation-links {
    display: flex;
    width: 100%;
    min-height: 100px;
    padding: 2.0vh 0.5vw;

    align-items: center;
    justify-content: space-evenly;
}

.navigation-links li {
    list-style: none;
}

.navigation-links a {
    padding: 1.0vh 1.5vw;

    font-size: 1.8vmax;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue';
    letter-spacing: 0.2vw;

    transition: all 0.3s ease;
}

/* Dumb hack because letter-spacing adds an extra space after words */
.navigation-links a:after {
    content: " ";
    margin-left: -0.5vw;
}

.navigation-links li a:hover {
    display: inline-block;
    border-bottom: 0.5vh solid white;
}

.selected {
    display: inline-block;
    padding: 1.0vh 1.5vw;
    border-bottom: 0.5vh solid rgb(245, 126, 19);
}

.page-block {
    z-index: 1;

    display: flex;
    position: relative;

    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-text-container {
    z-index: 1;

    display: flex;
    flex-direction: column;
    
    height: 50vh;

    justify-content: center;
    align-items: left;
}

.about-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 49, 45, 0.8);
    backdrop-filter: blur(15px);
    z-index: 1;

    padding: 4vh 2vh;
}

.about-container h1 {
    margin: 1vh 1vw;
}

.about-container p {
    font-size: 2.5vh;
    letter-spacing: 0.05vw;
    word-spacing: 0.25vw;
    font-family: 'Sunflower';
    color: rgb(198, 194, 194);

    margin: 1vh 1vw;
}

.call-to-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background-color: rgba(221, 144, 79, 0.08);
    backdrop-filter: blur(25px);

    padding: 4vh 2vh;
}

.call-to-action-container h1 {
    margin: 1vh 1vw;
}

.footer-container {
    background-color: rgba(49, 49, 45, 0.5);

    z-index: 1;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    padding: 1.5vh;
    width: 100%;
    backdrop-filter: blur(5px);
}

.social-link {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 1vh;
    margin-bottom: 1vh;

    text-decoration: none;

    transition: all 0.5s ease;
}

.social-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    padding: 1vmin;
}

.social-link img {
    padding: 0.5vmax;
    border-radius: 0.5vmax;
    background-color: rgb(245, 126, 19);

    width: 4vmax;
    height: 4vmax;

    /* max-width: 4vh; */
    /* max-height: 4vh; */
}

.social-link p {
    color: white;
    font-family: "Glorine";
    text-decoration: none;
    font-size: 0;
    opacity: 0;

    margin: 0 0 !important;
    padding: 0 0 !important;
    letter-spacing: 0 !important;
    word-spacing: 0 !important;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-link:hover p {
    padding-left: 3vh;

    margin: 1vh 1vw !important;
    letter-spacing: 0.05vw !important;
    word-spacing: 0.25vw !important;

    font-size: 1.3vmax;
    opacity: 1;
}

.social-link-icon::before {
    filter: invert();
}

.work-container {
    background-color: rgba(221, 144, 79, 0.08);
    z-index: 1;
    display: flex;
    flex-direction: column;

    padding-top: 3vw;
    padding-bottom: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(25px);
}
.work-row {
    z-index: 1;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: stretch;
    justify-self: center;
    align-self: center;

    width: 100%;
}

.content-box {
    background-color: rgba(21, 21, 21, 0.8);
    z-index: 1;
    display: flex;
    flex-direction: column;

    text-decoration: none;

    padding: 1vmax;
    margin: 1vmax;
    align-items: center;
    
    width: 25%;

    border-radius: 0.5vh;

    transition: all 0.6s ease;
}

.content-box:hover {
    transform: scale(1.05);
}

.content-title {
    color: white;

    margin: 1vmax;
    font-size: 1.1vmax;
    /* text-transform: uppercase; */
    font-family: 'Sunflower';
}

.content-thumbnail {
    border-radius: 0.3vh;

    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;

    transition: all 0.4s ease;

    filter: saturate(0.3);
}

.content-box:hover .content-thumbnail {
    filter: saturate(1);
}

.content-tag-container {
    display: flex;
    width: 100%;
    height: 100%;

    padding-top: 2vh;

    justify-content: flex-start;
    align-items: center;
}

.content-tag {
    padding: 0.7vmax;
    margin-right: 0.6vw;
    
    border-radius: 0.3vh;
    font-size: 1.5vmin;

    color: white;
    font-family: "Glorine";
}

.big-text {
    color: white;

    font-size: 6vmin;
    text-transform: uppercase;
    font-family: 'Lemon Milk';

    filter: drop-shadow(0px 0px 1vh rgba(196, 48, 22, 0.1))
}

.small-text {
    color: white;
    opacity: 0.5;
    
    font-size: 2.5vmin;
    font-style: italic;
    text-transform: lowercase;
    font-family: 'Sunflower';
}

.button {
    display: flex;
}

.button a {
    background-color: rgb(245, 126, 19);
    font-size: 2vmin;

    border-radius: 0.2vh;
    padding: 0.6vmax 1.6vmax;

    text-decoration: none;
    font-family: 'Bebas Neue';

    transition: all 0.3s ease;
}

.button a:hover {
    transform: scale(1.2); 
}

.button p {
    color: black;
    font-size: 2vmax;
    font-family: "Sunflower";
}